/*resize, align and present picture in circle */

div.css-1v0mbdj.etr89bj1 img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #f2f3f3;
    
}

/* make outer element containing profile picture inline;
inline = takes up only as much space as needed */
div.css-1kyxreq.etr89bj2 {
    display: inline
    
}

/* reduce upper and lower padding for inner element inside sidebar */

div.css-1544g2n.e1fqkh3o4 {
    padding: 2.5rem 1rem 1.5rem;
}

/* hide the close sidebar button */

div.css-1nm2qww.e1fqkh3o2 {
    display : None
}

/* hide scrollbar from sidebar */

div.css-6qob1r.e1fqkh3o3 {
    scrollbar-width: none
}

/* reduce upper padding of inner body block */

div.css-z5fcl4.egzxvld4 {
    padding-top: 0.8rem;
}